*{
	margin:0;
	padding:0;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

img{
	max-width:100%;
}

body{
	background-color:#000;
	background-image:url('../images/body-bg.jpg');
	background-repeat:no-repeat;
	background-position:center -150px;
	background-size:cover;
	font-family:Arial, Helvetica, sans-serif;
}

.menu-wr {
    margin: 0 auto;
    max-width: 95%;
    width: 900px;
}

a{
	text-decoration:none;
	transition:all 0.6s ease;
}

ul{
	list-style:none;
}

ul.menu {
    text-align: left;
	margin-top:15px;
}

ul.menu li {
    display: inline-block;
	margin-left:10px;
}

ul.menu li:first-child{
	margin-left:0;
}

.menu li a {
	background-color:rgba(124,124,124,0.4);
    /*background-color: #818181;*/
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    padding: 3px 15px;
}

#eshita {
	max-height: 600px; 
}

#disqus_thread {
	background:rgba(167,167,167,0.70);
}

#comments li {
    margin: 15px 0;
}

.menu li a:hover {
    background-color: #444;
}

#invite {
	height:auto;
	overflow:hidden;
}

.invite-text {
    float: left;
    width: 60%;
}

.right-map {
    float: right;
    width: 30%;
}


#bx-pager {
    text-align: center;
}

.bx-viewport{
	min-height:500px;
}

.bxslider li{
	width:844px !important;
}

.comments-left {
    float: left;
    height: 400px;
    overflow: auto;
    padding-right: 0;
    width: 100%;
	color:rgba(33,220,43,1.00);
}

.comments-left li h3 {
    margin-bottom: 5px;
}

#comment p {
    word-wrap: break-word;
}

#comment h5 {
    color: #555;
    font-weight: normal;
    margin-top: 5px;
}

@media only screen and (max-width : 1050px){

.bx-viewport{
	min-height:315px;
}

.bxslider li{
	width:590px !important;
}

body{
	background-size:auto;
}

}

@media only screen and (max-width : 800px){

.bx-viewport{
	min-height:290px;
}

.bxslider li{
	width:490px !important;
}

}

@media only screen and (max-width : 650px){

.bx-viewport{
	min-height:225px;
}

.bxslider li{
	width:365px !important;
}

.comments-right, .comments-left{
	width:100%;
	padding-left:0;
}

}


@media only screen and (max-width : 520px){
	
	ul.menu{
		text-align:center;
	}
	
	ul.menu li, ul.menu li:first-child{
		margin:5px;
	}
}

@media only screen and (max-width : 480px){

.bx-viewport{
	min-height:170px;
}

.bxslider li{
	width:275px !important;
}

}

@media only screen and (max-width : 360px){

.bx-viewport{
	min-height:120px;
}

.bxslider li{
	width:195px !important;
}

}